body{
    background: var(--color-background);
    /*background-image: url("/media/wavey-fingerprint1.svg");*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
}

body:where(.dark, .dark *) {
    background: var(--color-background);
    /*background-image: url("/media/endless-constellation2.svg");*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
}

@media (min-width: 768px) {
    .header-bg:where(.dark, .dark *) {
        /*background: var(--color-background);*/
        /*border: none;*/
        /*padding-bottom: 30px;*/
    }
}
